1) Suppose list1 is [2, 33, 222, 14, 25], What is list1[:-1] ?

a) [2, 33, 222, 14].

b) Error

c) 25


d) [25, 14, 222, 33, 2]

Ans: a) [2, 33, 222, 14].

In [5]:
li=[2,33,222,14,25]
print(li[:-1])

[2, 33, 222, 14]

2) What is the output when following code is executed ?


names =['Amir', 'Bear', 'Charlton', 'Daman']

print(names[-1][-1])

a) A

b) Daman

c) Error

d) n

Ans: d) n

In [2]:
names=['Amir','Bear','Charlton','Daman']
print(names[-1][-1])

n

3. What is the output when following code is executed ?

list1 =[1, 3]

list2 = list1

list1[0]=4

print(list2)

a) [1, 3].

b) [4, 3].

c) [1, 4].

d) [1, 3, 4].

Ans: b) [4,3]

In [24]:
list1=[1,3]
list2=list1
list1[0]=4
print(list2)

[4, 3]

4. Which of the following is not a declaration of the dictionary?

a){1:'A':2:'B'}

b)dict([[1,'A'],[2,'B']])

c){1,"A",2"B"}

d) {}

Ans: b)dict([[1,'A'],[2,'B']])

5. What is the output of the following code?

a={1:5,2:3,3:4}

a.pop(3)

print(a)

a) {1: 5}

b) {1: 5, 2: 3}

c) Error, syntax error for pop() method

d) {1: 5, 3: 4}

Ans: b) {1: 5, 2: 3}

In [7]:
a={1:5,2:3,3:4}
a.pop(3)
print(a)

{1: 5, 2: 3}

6. What will be the output of the following Python code?

nums = set([1,1,2,3,3,3,4,4])

print(len(nums))

a) 7

b) Error, invalid syntax for formation of set

c) 4

d) 8

Ans: c) 4

In [8]:
nums=set([1,1,2,3,3,3,4,4])
print(len(nums))

4

7. What will be the output of the following Python code?

a={1,2,3} b=a

b.remove(3)

print(a)

a) {1,2,3}

b) Error, copying of sets isn’t allowed

c) {1,2}

d) Error, invalid syntax for remove

Ans: c) {1,2}

In [10]:
a={1,2,3}
b=a
b.remove(3)
print(a)

{1, 2}

8. Is the following Python code valid?

a={3,4,{7,5}}

print(a[2][0])

a) Yes, 7 is printed

b) Error, elements of a set can’t be printed

c) Error, subsets aren’t allowed

d) Yes, {7,5} is printed

Ans: c) Error, subsets aren’t allowed

In [11]:
a={3,4,{7,5}}
print(a[2][0])

TypeError: unhashable type: 'set'

9. What will be the output of the following Python code?

a={4,5,6} b={2,8,6}

print(a+b)

a) {4,5,6,2,8}

b) {4,5,6,2,8,6}

c) Error as unsupported operand type for sets

d) Error as the duplicate item 6 is present in both sets

Ans: c) Error as unsupported operand type for sets

In [12]:
a={4,5,6}
b={2,8,6}
print(a+b)

TypeError: unsupported operand type(s) for +: 'set' and 'set'

10. What is the output?

d ={"john":40, "peter":45}

print(d["john"])

a) 40

b) 45

c) “john”

d) “peter”

Ans: a) 40

In [13]:
d={"john":40,"peter":45}
print(d["john"])

40

11. What will be the output of the following Python code?

example = "snow world"

example[3] = 's'

print (example)

a) snow

b) snow world

c) Error

d) snos world

Ans: c) Error

In [14]:
example="snow world"
example[3]='s'
print(example)

TypeError: 'str' object does not support item assignment

12. What will be the output of the following Python code?

print("xyyzxyzxzxyy".count('yy', 1))

a) 2

b) 0

c) 1

d) none of the mentioned

Ans: a) 2

In [17]:
print("xyyzxyzxzxyy".count('yy',1))

2

13. What will be the output of the following Python code?

print("abcdef".find("cd"))

a) True

b) 2

c) 3

d) None of the mentioned

Ans: b) 2

In [18]:
print("abcdef".find("cd"))

2

14. Suppose t = (1, 2, 4, 3), which of the following is incorrect?

a) print(t[3])

b) t[3] = 45

c) print(max(t))

d) print(len(t))

Ans: t[3] = 45

In [19]:
t=(1,2,3,4)
print(t[3])
t[3]=45
print(max(t))
print(len(t))

4

TypeError: 'tuple' object does not support item assignment

In [20]:
t=(1,2,3,4)
print(t[3])
print(max(t))
print(len(t))

4
4
4

15. What is the output of the following piece of code when executed in Python shell?

a=("Check")*3

print(a)

a) (‘Check’,’Check’,’Check’)

b) * Operator not valid for tuples

c) ‘CheckCheckCheck’

d) Syntax error

Ans: c) ‘CheckCheckCheck’

In [21]:
a=("Check")*3
print()

CheckCheckCheck

16. What will be the output?

my_tuple=(1, 2, 3, 4)

my_tuple.append((5, 6, 7))

print len(my_tuple)

a) 1

b) 2

c) 5

d) Error

Ans: d) Error

In [22]:
my_tuple=(1,2,3,4)
my_tuple.append((5,6,7))
print len(my_tuple)

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (3553330677.py, line 3)

17. What is the output of the following code?

a=(1,2,3,4)

print(del(a[2]))

a) Now, a=(1,2,4)

b) Now, a=(1,3,4)

c) Now a=(3,4)

d) Error as tuple is immutable

Ans: d) Error as tuple is immutable

In [23]:
a=(1,2,3,4)
print(del(a[2]))

SyntaxError: invalid syntax (4222193098.py, line 2)